<a href="https://colab.research.google.com/github/JeongSoong/Machine_learning/blob/main/%EB%AC%B8%EC%A0%95%EC%88%98_201911047_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    if(i%2!=0):
        print(i)

1
3
5
7
9

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
    n=2*i+1
    print(n)

3
5
7
9
11
13
15
17
19
21

In [ ]:
a=[]
for i in range(3):
    a.append(i)
print(a)

[0, 1, 2]

In [ ]:
b=[]
for i in range(4,7):
    b.append(i)
print(b)

[4, 5, 6]

In [ ]:
c=[]
for i in range(3,6):
    c.append(i)
print(c)

[3, 4, 5]

In [ ]:
#합집합
U1=a+b
U1

[0, 1, 2, 4, 5, 6]

In [ ]:
U2=a+c
U2

[0, 1, 2, 3, 4, 5]

In [ ]:
U3=b+c
U3

[4, 5, 6, 3, 4, 5]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[3,4,5]
for i in a:
    if i in c:
        print(i)

3

In [ ]:
#교집합
I=[]
for i in a:
    if i in c:
        I.append(i)
I

[3]

In [ ]:
for i in a:
    if i in c:
        a.remove(i)
print(a)

[1, 2]

In [ ]:
U=a+c
U

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[3,4,5]
for i in c:
    if i not in a:
        a.append(i)
a

[1, 2, 3, 4, 5]

In [ ]:
for i in b:
    if i not in c:
        c.remove(i)
c

[3]

WHILE

In [ ]:
num=0
while num<10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=1
while a<10:
    b=1
    while(b<10):
        print("{} * {} = {}".format(a,b,a*b))
        b+=1
    a += 1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
#로그인될때까지 물어보기
while True:
    print("숫자입력\n")
    num = input()
    if num == "1234":
        print("로그인되었습니다.\n")
        break
    else:
        print("비밀번호가 틀렸습니다. 다시 입력해주세요")

숫자입력

1234
로그인되었습니다.

In [ ]:
#로또번호 6개 추출
import random

In [ ]:
num_range=range(1,46)
num_list = list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [ ]:
random.shuffle(num_list)
print(num_list)
len(num_list)

[33, 23, 38, 30, 16, 45, 15, 6, 44, 1, 34, 13, 19, 25, 40, 28, 3, 35, 9, 27, 36, 10, 2, 43, 39, 4, 24, 18, 37, 14, 12, 21, 42, 7, 8, 29, 22, 11, 17, 41, 32, 26, 5, 20, 31]

45

In [ ]:
lotto=[]
while len(lotto)<6:
    random.shuffle(num_list)
    num_selected = num_list[0]
    lotto.append(num_selected)
print(lotto)

[16, 12, 6, 12, 4, 26]

숫자 샘플링
1. random() : 0~1사이 float 리턴
2. randint(a,b) : a와b사이 정수 리턴
3. nuiform : a와 b사이 float 리턴
4. randrange(a,b,c) : a와 b사이 c간격의 숫자
5. shuffle(집합) : 집합의 원소를 모두 섞어서 리턴
6. sample(집합, 수) : 집합에서 수 만큼 추출

In [ ]:
num=0
while num<10:
    e = random.randint(1,30)
    num+=1
    print(e)

3
19
6
15
22
18
18
10
19
8

In [ ]:
#소수 판별하기

num = 2
print("숫자를 입력하시오 \n")
a = int(input())

if a < 2:
    print("소수가 아닙니다.")
else:
    while num < a:
        if a % num == 0:
            print("소수가 아닙니다.")
            break
        else:
            num += 1
    if num == a:
        print("소수입니다.")

숫자를 입력하시오

2
소수입니다.

In [ ]:
#약수 구하기기

a = int(input("숫자를 입력하시오: "))
b = []

for num in range(1, a+1):
    if a % num == 0:
        b.append(num)

print("약수:",b)

숫자를 입력하시오: 8
[1, 2, 4, 8]

In [ ]:
#소인수 구하기

a = int(input("숫자를 입력하시오오: "))
b = []

for num in range(2, a+1):
    while a % num == 0:
        b.append(num)
        a //= num
if len(b) == 0:
    print("입력한 수의 소인수가 존재하지 않습니다.")
else:
    print("입력한 수의 소인수: ", end="")
    for bnum in range(len(b)):
        if num == len(b)-1:
            print(b[num])
        else:
            print(b[num], end=", ")

숫자를 입력하시오: 15
[2, 3, 5, 7, 11, 13]

In [ ]:
 #최대공약수 구하기기

a = int(input("첫번째 수를 입력하시오: "))
b = int(input("두번째 수를 입력하시오: "))

while b != 0:
    temp = a % b
    a = b
    b = temp

print("최대 공약수:", a)

첫번째 수를 입력하시오: 15
두번째 수를 입력하시오: 25
최대 공약수: 5

In [ ]:
#최소공배수 구하기기

a = int(input("첫번째 수를 입력하시오: "))
b = int(input("두번째 수를 입력하시오: "))

temp_a = a
temp_b = b
while temp_b != 0:
    temp = temp_a % temp_b
    temp_a = temp_b
    temp_b = temp

c = a * b // temp_a

print("최소 공배수:", c)

첫번째 수를 입력하시오: 15
두번째 수를 입력하시오: 25
최소 공배수: 75